---
import Design from "./Design.astro";

import DS1 from "../assets/2025-iep-designs/3S1.webp";
import DS2 from "../assets/2025-iep-designs/3S2.webp";
import DS3 from "../assets/2025-iep-designs/3S3.webp";
import DS4 from "../assets/2025-iep-designs/3S4.webp";
import DS5 from "../assets/2025-iep-designs/3S5.webp";
import CS1 from "../assets/2025-iep-designs/CS1.webp";
import CS2 from "../assets/2025-iep-designs/CS2.webp";
import CS3 from "../assets/2025-iep-designs/CS3.webp";
import CS4a from "../assets/2025-iep-designs/CS4a.webp";
import CS4b from "../assets/2025-iep-designs/CS4b.webp";
import CS5a from "../assets/2025-iep-designs/CS5a.webp";
import CS5b from "../assets/2025-iep-designs/CS5b.webp";
import CS6 from "../assets/2025-iep-designs/CS6.webp";
import CS7 from "../assets/2025-iep-designs/CS7.webp";
import FX1a from "../assets/2025-iep-designs/FX1a.webp";
import FX1b from "../assets/2025-iep-designs/FX1b.webp";
import FX2 from "../assets/2025-iep-designs/FX2.webp";
import FX3 from "../assets/2025-iep-designs/FX3.webp";
import FX4a from "../assets/2025-iep-designs/FX4a.webp";
import FX4b from "../assets/2025-iep-designs/FX4b.webp";
import FX5a1 from "../assets/2025-iep-designs/FX5a1.webp";
import FX5a2 from "../assets/2025-iep-designs/FX5a2.webp";
import FX5b from "../assets/2025-iep-designs/FX5b.webp";
import FX5c from "../assets/2025-iep-designs/FX5c.webp";
import FX5d from "../assets/2025-iep-designs/FX5d.webp";
import FX6a1 from "../assets/2025-iep-designs/FX6a1.webp";
import FX6a2 from "../assets/2025-iep-designs/FX6a2.webp";
import FX6b from "../assets/2025-iep-designs/FX6b.webp";
import FX7a from "../assets/2025-iep-designs/FX7a.webp";
import FX7b from "../assets/2025-iep-designs/FX7b.webp";
import FX8a1 from "../assets/2025-iep-designs/FX8a1.webp";
import FX8a2 from "../assets/2025-iep-designs/FX8a2.webp";
import FX8b from "../assets/2025-iep-designs/FX8b.webp";
import FX8c from "../assets/2025-iep-designs/FX8c.webp";
import FX9a from "../assets/2025-iep-designs/FX9a.webp";
import FX9b from "../assets/2025-iep-designs/FX9b.webp";
import FX9c from "../assets/2025-iep-designs/FX9c.webp";
import FX9d from "../assets/2025-iep-designs/FX9d.webp";
import LR1a from "../assets/2025-iep-designs/LR1a.webp";
import LR1b from "../assets/2025-iep-designs/LR1b.webp";
import LR1c from "../assets/2025-iep-designs/LR1c.webp";
import LR2a from "../assets/2025-iep-designs/LR2a.webp";
import LR2b from "../assets/2025-iep-designs/LR2b.webp";
import LR3a from "../assets/2025-iep-designs/LR3a.webp";
import LR3b from "../assets/2025-iep-designs/LR3b.webp";
import LR4a from "../assets/2025-iep-designs/LR4a.webp";
import LR4b from "../assets/2025-iep-designs/LR4b.webp";
import LR4c from "../assets/2025-iep-designs/LR4c.webp";
import LR4d from "../assets/2025-iep-designs/LR4d.webp";
import LR5a from "../assets/2025-iep-designs/LR5a.webp";
import LR5b from "../assets/2025-iep-designs/LR5b.webp";
import LR5c from "../assets/2025-iep-designs/LR5c.webp";
import LR5d from "../assets/2025-iep-designs/LR5d.webp";
import LR6a1 from "../assets/2025-iep-designs/LR6a1.webp";
import LR6a2 from "../assets/2025-iep-designs/LR6a2.webp";
import LR6b from "../assets/2025-iep-designs/LR6b.webp";
import LS1a from "../assets/2025-iep-designs/LS1a.webp";
import LS1b from "../assets/2025-iep-designs/LS1b.webp";
import LS1c from "../assets/2025-iep-designs/LS1c.webp";
import LS1d from "../assets/2025-iep-designs/LS1d.webp";
import LS1e from "../assets/2025-iep-designs/LS1e.webp";
import LS1f from "../assets/2025-iep-designs/LS1f.webp";
import LS1g from "../assets/2025-iep-designs/LS1g.webp";
import LS1h from "../assets/2025-iep-designs/LS1h.webp";
import LS2a from "../assets/2025-iep-designs/LS2a.webp";
import LS2b from "../assets/2025-iep-designs/LS2b.webp";
import LS2c from "../assets/2025-iep-designs/LS2c.webp";
import LS3 from "../assets/2025-iep-designs/LS3.webp";
import LS4a from "../assets/2025-iep-designs/LS4a.webp";
import LS4b from "../assets/2025-iep-designs/LS4b.webp";
import LS4c from "../assets/2025-iep-designs/LS4c.webp";
import LS5 from "../assets/2025-iep-designs/LS5.webp";
import LS6 from "../assets/2025-iep-designs/LS6.webp";
import LV1a from "../assets/2025-iep-designs/LV1a.webp";
import LV1b from "../assets/2025-iep-designs/LV1b.webp";
import LV1c from "../assets/2025-iep-designs/LV1c.webp";
import LV1d from "../assets/2025-iep-designs/LV1d.webp";
import LV2 from "../assets/2025-iep-designs/LV2.webp";
import LV3 from "../assets/2025-iep-designs/LV3.webp";
import LV4a from "../assets/2025-iep-designs/LV4a.webp";
import LV4b from "../assets/2025-iep-designs/LV4b.webp";
import LV4c from "../assets/2025-iep-designs/LV4c.webp";
import LV4d from "../assets/2025-iep-designs/LV4d.webp";
import LV5a from "../assets/2025-iep-designs/LV5a.webp";
import LV5b from "../assets/2025-iep-designs/LV5b.webp";
import WQ1 from "../assets/2025-iep-designs/WQ1.webp";
import WQ2 from "../assets/2025-iep-designs/WQ2.webp";
import WQ3 from "../assets/2025-iep-designs/WQ3.webp";
import WQ4 from "../assets/2025-iep-designs/WQ4.webp";
import WQ5a from "../assets/2025-iep-designs/WQ5a.webp";
import WQ5b from "../assets/2025-iep-designs/WQ5b.webp";
import WQ6 from "../assets/2025-iep-designs/WQ6.webp";

enum Type {
	Robot,
	App,
	Device
};

const designs = [
	{ id: "LS1", files: [LS1a, LS1b, LS1c, LS1d, LS1e, LS1f, LS1g, LS1h], name: "Kid help a robot", types: [Type.Robot], desc: "Hovering robot to resolve playground conflicts and help with learning" },
	{ id: "LS2", files: [LS2a, LS2b, LS2c], name: "Brainy Bugs", types: [Type.App], desc: "Chatbot for researching information" },
	{ id: "LS3", files: [LS3], name: "Eduquest", types: [Type.Robot], desc: "Robot with tools built in for anything you want" },
	{ id: "LS4", files: [LS4a, LS4b, LS4c], name: "Football Ref", types: [Type.Robot], desc: "Robotic video assistant referee to help adjudicate football matches" },
	{ id: "LS5", files: [LS5], name: "School Buddy", types: [Type.App], desc: "Provides grades and feedback for writing assignments" },
	{ id: "LS6", files: [LS6], name: "Jordan", types: [Type.Robot], desc: "Helps with assemblies, shows the correct school uniform, and speaks different languages" },
	{ id: "CS1", files: [CS1], name: "Cooking Bot 3000", types: [Type.Robot], desc: "Replacing canteen staff for better lunches" },
	{ id: "CS2", files: [CS2], name: "The Helpotron", types: [Type.App], desc: "Helps teachers come up with new ideas for maths through a voice interface" },
	{ id: "CS3", files: [CS3], name: "JJE Teacher's Assistant", types: [Type.App], desc: "Generate ideas for lessons and games" },
	{ id: "CS4", files: [CS4a, CS4b], name: "The Maths Bot", types: [Type.Robot], desc: "Scanning maths problems to get tips on how to solve them" },
	{ id: "CS5", files: [CS5a, CS5b], name: "Fun.maths AI", types: [Type.App], desc: "Make fun maths worksheets with image generation and text-to-speech" },
	{ id: "CS6", files: [CS6], name: "Happy ways", types: [Type.App], desc: "Generate ideas for what to write essays on" },
	{ id: "CS7", files: [CS7], name: "Automatic register", types: [Type.Device], desc: "Small speaker-like device mounted next to school entrance that registers students through voice recognition" },
	{ id: "LV1", files: [LV1a, LV1b, LV1c, LV1d], name: "Smarter Board", types: [Type.Device], desc: "A smart board with voice recognition so teachers won't have to type" },
	{ id: "LV2", files: [LV2], name: "AI Fire Door", types: [Type.Device], desc: "A fire door that activates built-in fire extinguishers when you yell `fire!'" },
	{ id: "LV3", files: [LV3], name: "The Spelling Bot", types: [Type.Device], desc: "A tablet on wheels with spelling games, such as typing out the name of an image on the screen" },
	{ id: "LV4", files: [LV4a, LV4b, LV4c, LV4d], name: "The Sore Writer 5000", types: [Type.Device], desc: "Robotic arm that writes for you if your wrists are sore" },
	{ id: "LV5", files: [LV5a, LV5b], name: "The Automatic Pencil", types: [Type.Device], desc: "A floating pencil that automatically marks work" },
	{ id: "WQ1", files: [WQ1], name: "Ajimo", types: [Type.Robot], desc: "Robot that cleans, serves lunch, and provides 'therapist talk'" },
	{ id: "WQ2", files: [WQ2], name: "The Buddy Bot", types: [Type.Robot], desc: "Comforts students that don't have friends" },
	{ id: "WQ3", files: [WQ3], name: "Picture Bot", types: [Type.Robot], desc: "Generates images for those that 'need help with creativity'" },
	{ id: "WQ4", files: [WQ4], name: "Goliath", types: [Type.Robot], desc: "A robot to help students who have ADHD, are blind, and/or have down syndrome" },
	{ id: "WQ5", files: [WQ5a, WQ5b], name: "Time Tracker", types: [Type.App, Type.Device], desc: "Makes you a schedule with reminders and prints it out every morning" },
	{ id: "WQ6", files: [WQ6], name: "Auto Cleaner", types: [Type.Robot], desc: "Does chores like sweeping, laundry, and storing things" },
	{ id: "LR1", files: [LR1a, LR1b, LR1c], name: "Self-charging iPad robot", types: [Type.Robot], desc: "Charges all classroom tablets in the morning" },
	{ id: "LR2", files: [LR2a, LR2b], name: "Phoenix the Code Bot", types: [Type.App], desc: "Chatbot that answers questions about 'anything code- or script-wise'" },
	{ id: "LR3-1", files: [LR3a], name: "Water bottle", types: [Type.Device], desc: "Water bottle that only lets you drink when you answer a maths question correctly" },
	{ id: "LR3-2", files: [LR3b], name: "Emotional robot", types: [Type.Robot], desc: "Press a button corresponding to an emotion and the robot will talk you through it" },
	{ id: "LR4", files: [LR4a, LR4b, LR4c, LR4d], name: "Robo-edog", types: [Type.Robot], desc: "Robot dog to talk to about your feelings" },
	{ id: "LR5", files: [LR5a, LR5b, LR5c, LR5d], name: "Mr Step-by-Step", types: [Type.Robot], desc: "Give it worksheets and it will explain how to approach the questions" },
	{ id: "LR6", files: [LR6a1, LR6a2, LR6b], name: "The Omega Robot", types: [Type.Robot], desc: "Does your maths homework for you" },
	{ id: "FX1", files: [FX1a, FX1b], name: "M.A.I.S.I.E.", types: [Type.Robot], desc: "Breaks up fights on the playground (short for 'Making AI Safe in Education')" },
	{ id: "FX2", files: [FX2], name: "Language aids", types: [Type.Device], desc: "Two hearing aids, one translates voices and another tells you what to say in different languages" },
	{ id: "FX3", files: [FX3], name: "AI lessons", types: [Type.App], desc: "Generates lessons and work for students by looking at other online resources" },
	{ id: "FX4", files: [FX4a, FX4b], name: "The Test Marker", types: [Type.Device], desc: "Scanner that quickly marks tests and gives feedback" },
	{ id: "FX5", files: [FX5a1, FX5a2, FX5b, FX5c, FX5d], name: "VoiceBot", types: [Type.Device], desc: "A voice-controlled robotic arm that takes over typing for people with physical disabilities" },
	{ id: "FX6", files: [FX6a1, FX6a2, FX6b], name: "Shape / math creator", types: [Type.Robot], desc: "Draws perfect shapes and describes their mathematical properties" },
	{ id: "FX7", files: [FX7a, FX7b], name: "Tevi", types: [Type.App], desc: "Button on your keyboard that translates all text" },
	{ id: "FX8", files: [FX8a1, FX8a2, FX8b, FX8c], name: "Fingerprint", types: [Type.Device], desc: "A fingerprint scanner to automatically register students and speed up lunch transactions" },
	{ id: "FX9", files: [FX9a, FX9b, FX9c, FX9d], name: "The Learning Watch", types: [Type.Device], desc: "Smart watch that helps with learning by gathering the 'needed info for the app you use'" },
	{ id: "3S1", files: [DS1], name: "TalkBot AI", types: [Type.Robot], desc: "Robot to practice English with, personalising the conversation to the student's level" },
	{ id: "3S2", files: [DS2], name: "Bertha de Robot", types: [Type.Robot], desc: "Designs and builds safe improvements to the school playground" },
	{ id: "3S3", files: [DS3], name: "De Nakijkmachine", types: [Type.Device], desc: "Sewing machine-like device to mark tests, with pencils in the spot of the needle (English: 'the Grading Machine')" },
	{ id: "3S4", files: [DS4], name: "D.E.C.B.", types: [Type.App], desc: "Chatbot to tell your feelings to, allowing you to choose the teacher you want to notify about them (short for 'Driestam Emotie Chat Bot')" },
	{ id: "3S5", files: [DS5], name: "ak", types: [Type.App], desc: "A clicker game to release aggression and a chatbot to, once calmed, talk through feelings (short for 'agressief kind' or 'aggressive child')" }
];


/* Shuffle design order with Durstenfeld */
for (let i = designs.length - 1; i > 0; i--) {
	const j = Math.floor(Math.random() * (i + 1));
	[designs[i], designs[j]] = [designs[j], designs[i]];
}
---

<div>
	<div class="w-full mx-auto" data-masonry='{ "itemSelector": ".design", "fitWidth": "true" }'>
		{ designs.map(({ id, files, name, types, desc }) => (
			<Design
				id={id}
				files={files}
				name={name}
				types={types}
				desc={desc}
			/>
		))}
	</div>

	<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
</div>
